---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic RnVpQ09iOWtucDVVU3A2U2kxcmxBc2NIYTpXWWNaWmRyUEJ0ZU80VUNianFGRGZtOFNha21lVklMZ08zdEo3U0ZBRHdxTGpuUE5zSg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Aug 2018 07:32:35 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 22770336eb662809398d8ee65c26f5b2
      X-Response-Time:
      - '126'
      X-Transaction:
      - 004bdb8100f04fd1
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAALVzYQAAAAAAIItU1SgTX8I%2B7Q3Cl3mqvuZiAAc%3D0AtbuGPnZgRlOHbTIk3JudxSGqXxgfkwpMG367Rtyw6GGLwO6N"}'
  recorded_at: Tue, 21 Aug 2018 07:32:35 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=noelrap
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALVzYQAAAAAAIItU1SgTX8I%2B7Q3Cl3mqvuZiAAc%3D0AtbuGPnZgRlOHbTIk3JudxSGqXxgfkwpMG367Rtyw6GGLwO6N
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 21 Aug 2018 07:32:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ce8d2cc2aad4efef449da66191fdafcd
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1534837655'
      X-Response-Time:
      - '144'
      X-Transaction:
      - 0064d14800a95fd1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":1515231,"id_str":"1515231","name":"Noel Rappin","screen_name":"noelrap","location":"Chicago
        IL","profile_location":null,"description":"Noel Rappin is a developer at Table
        XI. He is the author of Take My Money: Accepting Payment on the Web and Rails
        5 Test Prescriptions","url":"http:\/\/t.co\/2Mt0aaFfGL","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/2Mt0aaFfGL","expanded_url":"http:\/\/www.noelrappin.com","display_url":"noelrappin.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2725,"friends_count":796,"listed_count":222,"created_at":"Mon
        Mar 19 15:10:21 +0000 2007","favourites_count":882,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":13978,"lang":"en","status":{"created_at":"Mon
        Aug 20 22:58:17 +0000 2018","id":1031676823745310720,"id_str":"1031676823745310720","text":"@garybernhardt
        Gary, would you be willing to talk about this test screencast series on the
        Tech Done Right podcast?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"garybernhardt","name":"Gary
        Bernhardt","id":809685,"id_str":"809685","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","in_reply_to_status_id":1031627174405529600,"in_reply_to_status_id_str":"1031627174405529600","in_reply_to_user_id":809685,"in_reply_to_user_id_str":"809685","in_reply_to_screen_name":"garybernhardt","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/950537388518006785\/Wusx_fRo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/950537388518006785\/Wusx_fRo_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1515231\/1520002482","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Tue, 21 Aug 2018 07:32:36 GMT
recorded_with: VCR 4.0.0
